*.iml
*.ipr
*.iws
*.log
*.pid
*.seed
*~
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.directory
.DocumentRevisions-V100
.DS_Store
.fseventsd
.grunt
.idea/
.idea_modules/
.lock-wscript
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
/out/
atlassian-ide-plugin.xml
build/Release
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
Icon
lib-cov
logs
Network Trash Folder
node_modules
npm-debug.log*
pids
Temporary Items
